html
  head
    title Login&SignUp Website
    block scripts
    block style
  body
    //- nav#navbar
    //-     div.logo-name DANCE CLUB
    //-     ul
    //-         li #[a(href="/") Home]
    //-         li #[a(href="/") About]
    //-         li #[a(href="/") Credential]
    //-         li #[a(href="/") Contact Us]
    //-         li #[a(href="/") Blog]
    block content
    footer#footer 
        | Copyright &copy; 2024 Login&SignUp.com | All Rights Reserved.